<div class="backdrop" (click)="backdropClick($event)">
  <div class="searchModal">
    <form class="inputContainer">
      <input type="text" [formControl]="inputForm" />
      <button (click)="clearSearch()" class="clearSearch">
        <mat-icon class="mat-icon-rtl-mirror">close</mat-icon>
      </button>
    </form>

    <ul class="searchResults">
      <!-- Search results -->
      <ng-container *ngIf="inputForm.value && inputForm.value != ''">
        <!-- Litteral search -->
        <li
          (click)="
            selectPlace({
              name: inputForm.value
            })
          "
        >
          <p>
            {{ inputForm.value }}
          </p>
        </li>
        <hr *ngIf="searchResults.length !== 0" />

        <!-- Search results -->
        <ng-container *ngFor="let result of searchResults; let i = index">
          <li (click)="selectPlace(result)">
            <p class="name">{{ result.name }}</p>
          </li>
          <hr *ngIf="i !== searchResults.length - 1" />
        </ng-container>

        <!-- Spinner -->
        <ng-container *ngIf="searchLoading">
          <li>
            <mat-icon class="spinner">cached</mat-icon>
          </li>
        </ng-container>
      </ng-container>

      <!-- Default suggestions -->
      <ng-container *ngIf="!inputForm.value || inputForm.value === ''">
        <!-- Current location button -->
        <li (click)="selectCurrentLocation()">
          <mat-icon class="mat-icon-rtl-mirror">location_searching</mat-icon>
          <p>Position actuelle</p>
        </li>
        <!-- Only display the separator if there are recent locations below -->
        <hr *ngIf="recentLocations.length !== 0" />
        <ng-container *ngFor="let location of recentLocations; let i = index">
          <li (click)="selectPlace(location)">
            <p class="name">{{ location.name }}</p>
          </li>
          <hr *ngIf="i < recentLocations.length - 1" /> </ng-container
      ></ng-container>
    </ul>
  </div>
</div>
