.forecast {

    ul {
        display: flex;
        flex-direction: column;
        gap: 20px;
        font-size: 1.3em;

        li {
            display: flex;
            flex-direction: column;

            .row {
                display: flex;
                align-items: center;
                gap: 10px;

                .icon {
                    display: flex;
                    flex: 1;
                }

                .date {
                    font-weight: 500;
                    flex: 2;
                }

                .temp {
                    flex: 3;
                }
            }

            hr {
                width: 100%;
            }
        }
    }
}