.forecast {

    padding-bottom: 100px;

    ul {
        display: flex;
        flex-direction: column;
        gap: 20px;
        font-size: 1.3em;

        li {
            display: flex;
            flex-direction: column;
            background: var(--background-2);
            padding: 20px;
            border-radius: 20px;

            .row {
                display: flex;
                align-items: center;
                gap: 10px;
                min-height: 40px;

                .icon {
                    display: flex;
                    flex: 1;
                }

                .date {
                    font-weight: 500;
                    flex: 2;
                }

                .temp {
                    flex: 3;
                }
            }

            hr {
                width: 100%;
            }

            &:has(.loading) {
                animation: loading 0.5s infinite alternate;

                @for $i from 1 through 5 {
                    &:nth-child(#{$i}) {
                        animation-delay: $i * 0.1s;
                    }
                }
                
            }
        }
    }
}