<div class="weather">
  <div class="today">
    <div class="weatherIcon">
      <img
        [src]="weatherData ? weatherData.current.condition.icon : ''"
        alt="Weather icon"
      />
    </div>
    <div class="weatherInfo">
      <h2>
        {{ weatherData ? weatherData.current.temp_c + "°C" : "---" }}
      </h2>
      <p>
        {{ weatherData ? weatherData.current.condition.text : "---" }}
      </p>
    </div>

    <div class="weatherDetails">
      <div class="weatherDetail">
        <h3>Wind</h3>
        <p>
          {{ weatherData ? weatherData.current.wind_kph + " km/h" : "---" }}
        </p>
      </div>
      <div class="slot weatherDetail">
        <h3>Humidity</h3>
        <p>
          {{ weatherData ? weatherData.current.humidity + "%" : "---" }}
        </p>
      </div>
      <div class="slot weatherDetail">
        <h3>Pressure</h3>
        <p>
          {{ weatherData ? weatherData.current.pressure_mb + " hPa" : "---" }}
        </p>
      </div>
    </div>
  </div>

  <app-forecast [weatherData]="weatherData" class="forecast"></app-forecast>
</div>
