<header>
  <div class="headerRow">
    <div class="themeToggle">
      <app-theme-toggle></app-theme-toggle>
    </div>

    <h1>
      {{
        weatherData && weatherData.location
          ? weatherData.location.name + ", " + weatherData.location.country
          : "---"
      }}
    </h1>

    <div class="searchButton">
      <button (click)="toggleSearchModal()">
        <mat-icon class="mat-icon-rtl-mirror">search</mat-icon>
      </button>
    </div>
  </div>
  <div class="modalSlot">
    <app-search-modal *ngIf="isSearchModalOpen"></app-search-modal>
  </div>
</header>
