header {
    display: flex;
    flex-direction: column;
    align-items: center;
    // border-bottom: 1px solid var(--text-primary);

    .headerRow {
        display: flex;
        flex: 1;
        align-items: center;
        padding-top: 10px;
        width: 100%;

        h1 {
            display: flex;
            flex: 10;
            justify-content: center;
            margin: 0;
        }

        .slot {
            flex: 1;
            display: flex;
            justify-content: center;
            position: relative;

            
            &.themeToggle {
                align-items: center;
            }

        }

        .test {
            border: solid 2px red;
            width: 100%;
        }
    }

    .modalSlot {
        width: 100%;
        position: relative;

    }
}

::ng-deep {
    .slot {
        button {
            padding: 10px;
        }
        mat-icon {
            display: flex;
            color: var(--text-primary);
            height: 40px;
            width: 40px;

            font-size: 36px;
        }
    }
}

@media screen and (min-width: 1024px) {

    .searchInput {
        display: flex;
        gap: 10px;
        position: absolute;
        top: -15px;
        right: 20px;
        z-index: 100;
    }
    
}