.app {
    // border: solid 1px black;
    height: 100%;
    display: flex;
    flex: 1;
    flex-direction: column;

    app-header {
        width: 100%;
        position: sticky;
        top: 0;
        background: var(--transparent-background);
        backdrop-filter: blur(10px);
    }

    main {
        padding: 20px;
        
        .date {
            font-size: 1.3em;
            font-weight: 500;
        }

        app-weather {
            display: flex;
            flex: 1;
        }
    }

}